:root{
  --pclr: #00BFFF;
  --sclr: #DC143C;
  --bgclr: #FFF8DC;
  --bdclr: #000000;
  --grid-size: 74px;
}

html, body{
  height:100%;
  margin: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgclr,#FFF8DC);
}

#clock-container{
  display:flex;
  flex-direction: row;
  gap: 5px;
  padding: 25px;

  animation: 1s 1 normal fade-and-slide-in;
}

@keyframes fade-and-slide-in {
  from {
    translate: 0 50px;
    scale: 90%;
    opacity: 0%;
  }
  80% {
    translate: 0 0;
    scale: 90%;
    opacity: 100%;
  }
  to{
    scale: 100%;
  }
}


.block{
  display:flex;
  width:max-content;
}

#second{
  display:none;
}

.column{
  width:max-content;
  display: grid;
  grid: repeat(3, var(--grid-size)) / var(--grid-size);
}

.active-color{
  background-color: var(--sclr,#DC143C);
}
.inactive-color{
  background-color: var(--pclr,#00BFFF);
}
.grid{
  border: 2px solid var(--bdclr,#000000);
}

.special:hover{
  filter: brightness(0.8);
}

.special:active{
  filter: brightness(0.6);
}


@media screen and (orientation: portrait){
  
  #clock-container{
    flex-direction: column;
  }
}