#butts-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
    margin-bottom:100px;
}
.butt-div{
    --min-size: 8vmin;
    --max-size: 12vmin;
    width: var(--min-size);
    height: var(--min-size);

    border: 0.8vmin solid black;
    border-radius:100%;
}
#color-selector-div{
    position:relative;
    top:120%;
    width:200%;
    min-width: max-content;
}
#color-input-div{
    width:180px;
    display:flex;
    flex-direction: row;
}
#color-samples-div{
    display:grid;
    grid: repeat(3,1fr)/repeat(4,1fr);
    user-select: none;
    border: 2px solid black;
    aspect-ratio: 2/1;
}
.color-sample{
    border: 1px solid black;
}
.color-input-box{
    width:80%;
    padding:1.25px;
}
.color-select-button{
    user-select: none;
    width:20%;
    height:100%;
}
#reset{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}